@{
    ViewData["Title"] = "Home";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row g-5 py-5 row-cols-1 row-cols-lg-2">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold 1h-1 mb-3">
                <h1>Taco Cat: A Coding Project</h1>
            </h1>

            <!-- Content -->
            <h4 class="lead">
                Taco Cat is a palindrome. A palindrome is a word, phrase, or sequence that reads the same
                backward as forward. Write a program that checks if the phrase entered is a palindrome.

                <!-- Checklist -->
                <ul class="fa-ul pt-2 checklist colorDark">
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>CSS and Bootstrap Layout
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>MVC Fundamentals
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>C# Loops
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>C# IF/Then/Else
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic
                    </li>
                </ul>

                <!-- Button -->
                <div>
                    <a class="btn btn-outline-dark btn-lg px-4 me-md-2" asp-area="" asp-controller="Home" asp-action="Reverse">Try It Out!</a>
                </div>

                <!-- Technology -->
                <h5 class="fw-bold mt-5">
                    <div class="d-flex">
                        <div class="row">
                            <div class="col"><i class="fab fa-bootstrap fa-4x bsicon"></i></div>
                            <div class="col"><i class="fab fa-html5 fa-4x html5icon"></i></div>
                            <div class="col"><i class="fab fa-css3-alt fa-4x cssicon"></i></div>
                        </div>
                    </div>
                </h5>
            </h4>
        </div>
        <div class="col d-flex align-items-center justify-content-center">
            <!-- App Logo -->
            <img src="~/images/taco-cat.png" class="img-fluid " alt="Taco Cat">
        </div>
    </div>
</div>
